<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Editar usuários</h2>
            <form th:action="@{/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label">Nome:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" th:field="*{name}">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-1 col-form-label">Idade:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" th:field="*{age}">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-1 col-form-label">Sexo:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" th:field="*{sex}">
                </div>
            </div>

            <input type="submit" value="Salvar">

        </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>