<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Sexo</th>
            <th>Actions</th>
        </tr>
        <tr th:each="usuario : ${userList}">
            <td th:text="${usuario.name}">Nome</td>
            <td th:text="${usuario.age}">Idade</td>
            <td th:text="${usuario.sex}">Sexo</td>
            <td>
                <form th:action="@{/delet/{id}(id=${usuario.id})}">
                    <button type="submit">Deletar</button>
                </form>
            </td>

            <td>
                <form th:action="@{/edit/{id}(id=${usuario.id})}">
                    <button type="submit">Editar</button>
                </form>
            </td>

        </tr>
    </table>
</div>

<div>
    <form action="#" th:action="@{/search}" method="post">
        <div>
            <label for="searchText">Search Text:</label>
            <input type="text" id="searchText" name="name" />
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <a th:href="@{/home}">Cadastrar Usuário</a>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>